$width:600px;

.container{
	h1{
		font-size: 10px;
		width:$width;
	}
}

$color1 : #3eb0f7;
$color2 : #777;


html, body {
	width: 100%;
	overflow-x: hidden;
}
body {
	height:100%;
	font-family: "Lato", "Serif";
	font-weight: 300;
	padding:0;
	margin:0;
	font-size:16px;
	line-height: 28px;
	color: $color2; 
	background: #fff;
	overflow-x:hidden;
	position: relative;
}
h1 { font-size: 3em; line-height:1.2em; margin:0 0 .8em; }
h2 { font-size: 1.8em; line-height:1.4em; margin:0 0 .8em;  }
h3 { font-size: 1.4em; line-height:1.4em; }
h4 { font-size: 1.25em; line-height:1.4em;}
h5 { font-size: 1.1em; line-height:1.4em; }
h6 { font-size: 1em; line-height:1.2em; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none
}	 
p { 
	padding:0 0 1em;
	margin:0;
}
a {
	color: $color1;
	outline: 0;
	font-weight: bold;

	&:hover {
		text-decoration: none;
		color: #1f2222;
		
	}
} 

.highlight {
	color: $color1;
}

.fullscreen {
    width:100%;
    min-height:100%;
	background-repeat:no-repeat;
    background-position:50% 50%;
    background-position:50% 50%\9 !important;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

.navbar-default {
	background: rgba(255, 255, 255, 0.95);
	box-shadow: 0px 0.5px 2px #cecece;
	.navbar-brand {
		padding: 7px;
	}
	.navbar-nav > li > a {
		color: #777;
		font-weight: 500;
		&:hover, &:focus {
			color: $color1;
		}
	}
}


.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	background: transparent;
    color: $color1;
}
.btn-default {
	font-size: 17px;
	margin: 30px 0 10px;
	margin-right: 10px;
	line-height: 20px;
	padding: 15px 35px;
	height: 50px;
	border: 2px solid $color1;
	background: transparent;
	transition: all 0.4s;
	color: $color1;
	border-radius: 100px;
	.active {
		border: 2px solid $color1;
		background: $color1;
		color: white;
	}
	&:hover, &:focus, &:active {
		@extend .active;
	}

}
.open > .dropdown-toggle.btn-default {
	@extend .active;
}
.btn-primary {
	font-size: 17px;
	margin: 30px 0 10px;
	margin-right: 10px;
	line-height: 20px;
	padding: 15px 35px;
	height: 50px;
	border: 2px solid $color1;
	background: $color1;
	
	color: white;
	border-radius: 100px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	border: 2px solid $color1;
	background: transparent;
	color: $color1;
}
.btn-secondary {
	font-size: 20px;
	font-weight: 300;
	line-height: 20px;
	padding: 20px 50px;
	height: 65px;
	border: none;
	background: $color1;
	color: white;
	border-radius: 4px;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open > .dropdown-toggle.btn-secondary {
	background: #1f96e0;
	color: white
}
.site-name img{
	width: 150px; 
	height: 37px
}
.logo {
	margin: 100px 0 40px 0;
	img {
		width: 150px; 
		height: 37px
	}
}

.landing {
	h1{
		font-size: 56px;
		font-weight: 300;
		color: #fff;
		margin: 30px 0 30px 0;
		text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
	}
	
	p {
		color: #fff;
	}
}
	
.landing-text {
	margin-bottom: 20px;
	p {
		font-size: 17px !important; 	
	}
}

.more {
	margin-bottom: 100px;
	p {
		font-size: 17px;
	}
}

.head-btn {
	margin-bottom: 40px;
}
.option {
	text-transform: uppercase;
	padding: 5px;
	min-width: 80px;
	margin-right: 5px;
	font-size: 14px;
	color: #fff;
	.fa {
		font-size: 16px;
		margin-right: 10px;
	}
	&:hover {
		color: $color1;
	}
}


.header-phone {
	margin: 50px 0 100px;
}
#intro {
	padding: 100px 0 70px;
	h2 {
		font-size: 40px;
		font-weight: 300;
		margin: 15px 0 15px 0;
	}
}

.intro-pic {
	margin-top: 20px;
}
.btn-section {
	padding-top: 20px;
}
#feature {
	padding-top: 100px;
	background: #f6f6f6;
	h2 {
		margin: 15px 0 15px 0;
		font-size: 40px;
		font-weight: 300;
	}

	.feature-title {
		p {
			font-size: 18px;
		}
	}  
}

.row-feat {
	padding-top: 50px;
}
.feat-list {
	margin-top: 40px;
	i {
		font-size: 48px;
		float: left;
		width: 20%;
		color: #555;
		height: 100%;
		position: relative;
		opacity: 0.6;
	}

	&:hover {
		i {
			color: $color1;
		}
	}
}


#feature {
	.inner {
		float: left;
		display: inline-block;
		width: 80%;
	}
}  
	

#feature-2 {
	padding: 100px 0 100px;
	h2 {
		font-size: 40px;
		font-weight: 300;
		margin: 15px 0 15px 0;
	}
}

.feature-2-pic {
	margin-top: 20px;
}

.title-line {
    width: 100px;
    height: 3px;
    margin: 0 auto;
    background: $color1;
}

#footer {
	background: #fff;
	padding: 50px 0 50px;
}
.social {
	ul {
		padding: 0;
		list-style: none;
	}
	li {
		display: inline-block;
		padding-right: .3em;
		a {
			display: block;
			width: 40px;
			height: 40px;
			line-height: 40px;
			color: $color1;
			border-radius: 50%;
			background: #fff;
			border: solid 1px #3eb0f7;

			&:hover {
				color: #fff;
				background: $color1;
			}
		}	
	}
} 


.banner-message {
	margin-top:132px;
	margin-right: 50%;
}

.feature-img img {
	margin-top: 80px;
}